# NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

# Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [3]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd
import pymongo

In [4]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.mars_db
collection = db.items

In [2]:
 !which chromedriver

/usr/local/bin/chromedriver

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
time.sleep(1)


news = soup.find('li', class_='slide')

#print(len(news))
#print(news.prettify())

In [12]:

title = soup.find('div', class_='bottom_gradient')
paragraph = soup.find('div', class_='article_teaser_body')
news_title_text = (title.text)
news_paragraph_text = (paragraph.text)

print(f"The title of the article is: {news_title_text}")
print("")
print(f"The paragraph text of the article is: {news_paragraph_text}")

The title of the article is: Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch

The paragraph text of the article is: A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.

# JPL Mars Space Images - Featured Image

-Visit the url for JPL Featured Space Image ( https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars ).

-Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


-Make sure to find the image url to the full size .jpg image.


-Make sure to save a complete url string for this image.

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
time.sleep(1)

In [ ]:
# print(soup.prettify())


# yes :
# img = soup.find('section', class_='primary_media_feature')
# print(img)

img_2 = soup.find('a', class_="button fancybox")
print(img_2)


href = soup.find('a', class_="button fancybox")['data-fancybox-href']
print(href)


# NO :
#img_link = soup.find('article', style="background-image:")
# img_link = soup.find_all('a')[0]['data-fancybox-href=:']
# print(img_link)
# img_2 = soup.find('a', data-fancybox-group="images")
# print(img_2)



#section class="centered_text clearfix main_feature primary_media_feature single"

In [ ]:
featured_image_url = "https://www.jpl.nasa.gov" + href

print(featured_image_url)

## Mars Weather

- Visit the Mars Weather twitter account (https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

- Note: Be sure you are not signed in to twitter, or scraping may become more difficult.

- Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

In [ ]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
time.sleep(1)

In [ ]:
#print(soup.prettify())

In [ ]:
# twitter1 = soup.find('div', class_='css-1dbjc4n')
# print(twitter1.prettify())


# twitter2 = soup.find('div', class_='css-1dbjc4n')
# print(twitter2.prettify())

# twitter3 = soup.find('article', role='article')
# print(twitter3.prettify())

# twitter4 = soup.find('div', class_='css-1dbjc4n')
# print(twitter4.prettify())

# twitter5 = soup.find('div', class_='css-1dbjc4n')
# print(twitter5.prettify())

# twitter6 = soup.find('div', class_='css-1dbjc4n')
# print(twitter6.prettify())

twitter7 = soup.find('div', lang="en")
print(twitter7.text)

In [ ]:
mars_weather = (twitter7.text)
print(mars_weather)

# Mars Facts


-Visit the Mars Facts webpage (https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


-Use Pandas to convert the data to a HTML table string.

In [5]:
url = 'https://space-facts.com/mars/'

In [6]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
type(tables)

list

In [27]:
mars_table = tables[0]

mars_facts = pd.DataFrame(mars_table)
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
mars_facts.columns = ["Description", "Value"]
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
# mars_facts_html_table = mars_facts.to_html('mars_facts_table.html', header=False, bold_rows=True, index=False)
# mars_facts_html_table

html = mars_facts.to_html(index=False)
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [ ]:
# !open mars_facts_table.html

# Mars Hemispheres


- Visit the USGS Astrogeology site (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.


- You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


- Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


- Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
]